In [56]:
import pandas as pd
import psycopg2 as ps

In [57]:
try:
    conn = ps.connect("dbname='sales_demo_dec' user='postgres' host='localhost' password='123456'")
    print("connected")
except:
        print("I am unable to connect to the database")

connected

In [58]:
#sales_df = pd.read_sql("select * from crosstab('select extract(month from created_at)::NUMERIC as months, extract(year from created_at):: NUMERIC as year_of_sale, sum(selling_price * quantity) as sales from sales s join inventories i on s.inv_id = i.id group by months, extract(year from created_at) order by 1') as final_result (months numeric,salesinyear2017 numeric, salesinyear2018 numeric, salesinyear2019 numeric) order by 1;",conn)

In [59]:
new_sales_df = pd.read_sql("select sum(i.selling_price*s.quantity) as yearly_sales,extract(year from created_at) as year,sum(s.quantity) as total_quantity,sum(stock) total_stock,count(s.id) total_products_sold,(sum(i.buying_price)/(count(s.id)))buying_price,(sum(i.selling_price)/(count(s.id)))selling_price from sales s join inventories as i on s.inv_id = i.id group by year order BY year asc",conn)

In [60]:
new_sales_df

,yearly_sales,year,total_quantity,total_stock,total_products_sold,buying_price,selling_price
0,67486.4,2009.0,244.0,4700.0,47,533.489362,789.438298
1,674376.4,2010.0,540.0,10500.0,105,674.180952,1001.062857
2,535434.4,2011.0,363.0,7700.0,77,885.181818,1317.267532
3,649027.2,2012.0,551.0,10600.0,106,858.273585,1277.384906
4,1272111.2,2013.0,526.0,11100.0,111,1182.774775,1764.118919
5,944629.8,2014.0,520.0,10500.0,105,867.047619,1290.257143
6,1029190.8,2015.0,503.0,9800.0,98,1321.581633,1972.877551
7,1231019.0,2016.0,480.0,9800.0,98,1314.612245,1963.191837
8,242662.6,2017.0,421.0,9500.0,95,949.084211,1413.223158
9,969301.4,2018.0,496.0,9100.0,91,981.505495,1462.327473
10,498577.2,2019.0,375.0,6700.0,67,692.701493,1030.005970

In [61]:
new_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
yearly_sales           11 non-null float64
year                   11 non-null float64
total_quantity         11 non-null float64
total_stock            11 non-null float64
total_products_sold    11 non-null int64
buying_price           11 non-null float64
selling_price          11 non-null float64
dtypes: float64(6), int64(1)
memory usage: 696.0 bytes

In [62]:
new_sales_df.isna

<bound method DataFrame.isna of     yearly_sales    year  total_quantity  total_stock  total_products_sold  \
0        67486.4  2009.0           244.0       4700.0                   47
1       674376.4  2010.0           540.0      10500.0                  105
2       535434.4  2011.0           363.0       7700.0                   77
3       649027.2  2012.0           551.0      10600.0                  106
4      1272111.2  2013.0           526.0      11100.0                  111
5       944629.8  2014.0           520.0      10500.0                  105
6      1029190.8  2015.0           503.0       9800.0                   98
7      1231019.0  2016.0           480.0       9800.0                   98
8       242662.6  2017.0           421.0       9500.0                   95
9       969301.4  2018.0           496.0       9100.0                   91
10      498577.2  2019.0           375.0       6700.0                   67

    buying_price  selling_price
0     533.489362     789.438298
1     674.180952    1001.062857
2     885.181818    1317.267532
3     858.273585    1277.384906
4    1182.774775    1764.118919
5     867.047619    1290.257143
6    1321.581633    1972.877551
7    1314.612245    1963.191837
8     949.084211    1413.223158
9     981.505495    1462.327473
10    692.701493    1030.005970  >

In [63]:
x = new_sales_df.iloc[:,1:]

In [64]:
x

,year,total_quantity,total_stock,total_products_sold,buying_price,selling_price
0,2009.0,244.0,4700.0,47,533.489362,789.438298
1,2010.0,540.0,10500.0,105,674.180952,1001.062857
2,2011.0,363.0,7700.0,77,885.181818,1317.267532
3,2012.0,551.0,10600.0,106,858.273585,1277.384906
4,2013.0,526.0,11100.0,111,1182.774775,1764.118919
5,2014.0,520.0,10500.0,105,867.047619,1290.257143
6,2015.0,503.0,9800.0,98,1321.581633,1972.877551
7,2016.0,480.0,9800.0,98,1314.612245,1963.191837
8,2017.0,421.0,9500.0,95,949.084211,1413.223158
9,2018.0,496.0,9100.0,91,981.505495,1462.327473
10,2019.0,375.0,6700.0,67,692.701493,1030.005970

In [88]:
y = new_sales_df[["yearly_sales"]]

In [89]:
y

    yearly_sales
0        67486.4
1       674376.4
2       535434.4
3       649027.2
4      1272111.2
5       944629.8
6      1029190.8
7      1231019.0
8       242662.6
9       969301.4
10      498577.2

In [84]:
y = new_sales_df.iloc[:,0:1]

In [85]:
y

    yearly_sales
0        67486.4
1       674376.4
2       535434.4
3       649027.2
4      1272111.2
5       944629.8
6      1029190.8
7      1231019.0
8       242662.6
9       969301.4
10      498577.2

In [ ]:
from sklearn.linear_model import LinearRegression

In [90]:
r = LinearRegression()

In [91]:
r.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [95]:
pickle.dump(r, open('smodel.pkl','wb'))

In [96]:
model = pickle.load(open('smodel.pkl','rb'))

In [99]:
x.columns

Index(['year', 'total_quantity', 'total_stock', 'total_products_sold',
       'buying_price', 'selling_price'],
      dtype='object')

In [102]:
print(model.predict([[2020, 500, 500,100,150,210]]))

[[648965.06664468]]

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [69]:
x_train

,year,total_quantity,total_stock,total_products_sold,buying_price,selling_price
3,2012.0,551.0,10600.0,106,858.273585,1277.384906
6,2015.0,503.0,9800.0,98,1321.581633,1972.877551
7,2016.0,480.0,9800.0,98,1314.612245,1963.191837
10,2019.0,375.0,6700.0,67,692.701493,1030.005970
2,2011.0,363.0,7700.0,77,885.181818,1317.267532
4,2013.0,526.0,11100.0,111,1182.774775,1764.118919
8,2017.0,421.0,9500.0,95,949.084211,1413.223158
9,2018.0,496.0,9100.0,91,981.505495,1462.327473

In [70]:
x_test

,year,total_quantity,total_stock,total_products_sold,buying_price,selling_price
5,2014.0,520.0,10500.0,105,867.047619,1290.257143
0,2009.0,244.0,4700.0,47,533.489362,789.438298
1,2010.0,540.0,10500.0,105,674.180952,1001.062857

In [71]:
from sklearn.linear_model import LinearRegression

In [72]:
lm = LinearRegression()

In [73]:
model = lm.fit(x_train,y_train)

In [74]:
y_pred = lm.predict(x_test)

In [75]:
type(x_test)

pandas.core.frame.DataFrame

In [76]:
x_test

,year,total_quantity,total_stock,total_products_sold,buying_price,selling_price
5,2014.0,520.0,10500.0,105,867.047619,1290.257143
0,2009.0,244.0,4700.0,47,533.489362,789.438298
1,2010.0,540.0,10500.0,105,674.180952,1001.062857

In [77]:
y_pred

array([[2014.],
       [2009.],
       [2010.]])

In [78]:
y_test

     year
5  2014.0
0  2009.0
1  2010.0

In [79]:
lm.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [80]:
import pickle

In [81]:
pickle.dump(lm, open('model.pkl','wb'))

In [82]:
import numpy as np

In [83]:
pd.Dataframe

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [ ]:
type(x_test)